/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf8f3;
    color: #333;
}

header {
    background-color: #baf2c5;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #88c093;
    padding: 10px;
    text-align: center;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 40px;
    text-align: center;
}

footer {
    background-color: #baf2c5;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
